/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.navbar {
    height: 50px;
    width: 100%;
    border: 2px solid brown;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px 20px;
}

.logo{
    height: 50px;
    width: 10%;
    border: 2px solid black;
    font-size: 1rem;
    
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url(bresterback.webp);
}

.background{
    height: max-content;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar {
  display: flex;
  align-items: center;
  /* background-image: url("brewster_logo.png"); */
  /* border: 1px solid red; */
  height: 60px;
  /* width: 90%; */
  padding: 0 20px;
  justify-content: space-between;
  background-color: rgb(32, 26, 19);
  /* border: 1px solid white; */
  /* border-width:360px ; */
  border: 1px solid white;
  /* padding: 10px 20px  ; */
  /* nav { */
  /* width: 375px; */
  height: 60px;
  /* background: #fff; */
  color: azure;

  box-shadow: inset 0 0 0 1px #ffffff; 
  /*        inset | x | y | spread | color  */
  gap: 20px;
}

.box7{
  height: 50px;
  width: 30%;
  /* border:1px solid greenyellow; */
  /* background-image: url(images/img2.jpg); */
  /* background-color: #ffe6cc; */
  /* color: #331a00; */
  color:#ffe6cc;
  text-align: center;
  justify-content: center;
  /* position: absolute; */
   /* position: relative; */
   align-items: center;
   display: flex;
   /* font-family: "Crimson Text", serif; */
  font-weight: 600;
  /* font-style: normal; */
  font-size: 25px;

   
}

.box8{
  /* height: 50px; */
  /* width: 30%; */
  /* border:1px solid greenyellow; */
  /* background-color: #ffe6cc; */
  /* color: #331a00; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;

}

.box88{
  /* border: 2px solid red; */
  background-color: rgb(38, 26, 13);
  color:#ffe6cc ;
  height: 40px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

}
.box89{
  /* border: 2px solid red; */
  background-color: rgb(38, 26, 13);
  color:#ffe6cc ;
  height: 40px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

}
.box810{
  /* border: 2px solid red; */
  background-color: rgb(38, 26, 13);
  color:#ffe6cc ;
  height: 40px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

}
.box811{
  /* border: 2px solid red; */
  background-color: rgb(38, 26, 13);
  color:#ffe6cc ;
  height: 40px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

}

.box812{
  /* height: 50px;
  width: 30%;
  border:1px solid rgb(47, 61, 255);
  background-color: #ffe6cc;
  color: #331a00;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 18px; */
   background-color: rgb(38, 26, 13);
  color:#ffe6cc ;
  height: 40px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.box813{
  /* height: 50px;
  width: 30%;
  border:1px solid greenyellow;
  background-color: #ffe6cc;
  color: #331a00;
 */
background-color: rgb(38, 26, 13);
  color:#ffe6cc ;
  height: 40px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.box814{
  /* height: 50px;
  width: 30%;
  border:1px solid greenyellow;
  background-color: #ffe6cc;
  color: #331a00;
 */
background-color: rgb(38, 26, 13);
  color:#ffe6cc ;
  height: 40px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}




.nav-logo img {
  border: 3px solid #67595E;
  /* padding: px; */
  height: 58px ;
  width: 100%;
  /* background-image: url(brewster_logo.png); */
}

.hero-section{
  display: flex;
  align-items: center;
  justify-content:left;
}

.box1{
  /* background-image: url("./images/brewster_hero.jpg"); */
  background-color: rgb(38, 26, 13);
  background-size: cover;
  height: 500px;
  width: 35%;
  /* border: 2px solid black;   */
}

.sidebar {
  width: 200px;
  height: 500px;
  background-color: rgb(51, 26, 0);
  position: relative; /* make this the positioning parent */
}

.coffee-box1 {
  position: absolute;
  top: 70px;
  /* right: 10px; */
  /* width: ; */
  /* height: 250px; */
  /* background-color: gray; */
  /* border: 1px solid red; */
  color: #ffe6cc;
  /* text-align: center; */
  line-height: 50px;
  font-size: 130px;
  /* margin-right: 808%; */

}

.coffee-box2 {
  position: absolute;
  top: 200px;
  /* right: 10px; */
  /* width: ; */
  /* height: 250px; */
  /* background-color: gray; */
  /* border: 1px solid red; */
  color: #ffdab3;
  text-align: center;
  line-height: 50px;
  font-size: 130px;
}

.coffee-box3 {
  position: absolute;
  top: 330px;
  /* right: 10px; */
  /* width: ; */
  /* height: 250px; */
  /* background-color: gray; */
  /* border: 1px solid red; */
  color: #ffce99;
  text-align: center;
  line-height: 50px;
  font-size: 130px;
}


.box2{
  height: 500px;
  width: 65%;
  /* border: 2px solid blue; */
  background-color: rgb(224, 199, 168);

}

/* .box3{
  height: 100px;
  width: 40%;
  border: 3px solid red;
  background-color: grey;
  justify-content: center; */
/* } */

/* .sidebar{
  background-color: aqua;
  border: 3px solid yellowgreen;
  height: 180px;
  width: 20%;
  position: relative;
}

.box3{
  position: absolute;
  background-color: black;
  top: 50px;
  right:10px;
  width: 20%;
  height: 180px;
  text-align: center;
  line-height: 50px; */

/* 0} */


/* } */

.box5{
  height: 500px;
  width: 30%;
  object-fit: cover;
  /* border: 3px solid black; */
  /* background-color: #FFC2C7; */
  display: flex;
  position: absolute;
  margin-left: 70px;
  margin-top: 60px;
  /* font-size: 5px; */
  background-image:url("/images/coffe_bean.png");
}

.side-section{
  height: 500px;
  width: 25%;
  /* border: 2px solid orange; */
  /* display: flex; */
  position: absolute;
  margin-left: 1170px;
}

.statement1{
  height:200px;
  /* width: 100px; */
  /* border: 2px solid green; */
  /* display: flex; */
  /* position: absolute; */
  /* margin-left: 800px; */
  /* margin-right: 200px; */
  font-size: 50px;
  /* font-family: "Poppins", sans-serif; */
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif; */
    /* font-family: "Crimson Text", serif; */
  font-weight: 600;
  font-style: normal;
  color: rgb(51, 26, 0);
  margin-top: 50px;
  margin-left: 22px;
}


.statement2{
  height:70px;
  /* border: 2px solid green; */
  font-size: 17px;
  font-style: normal;
  margin-top: 500x;
  /* font-family: "Crimson Text", serif; */
  font-weight: 600;
  /* font-style: normal; */
  color: rgb(51, 26, 0);
  margin-left: 22px;
}

.statement3{
  height: 60px;
  width: 100%;
  /* border: 2px solid navy; */
  gap: 20px;
  color: rgb(51, 26, 0);
  margin-left: 22px;
}

/* .outer-box{
  height: 40px;
  width: 100%;
  /* border: 2px solid rebeccapurple; */
  /* display: flex; */
  /* position:absolute ;
  align-items: center;
  justify-content: center;
  gap: 10px;x;
}

.inner-box1{
  height:40px;
  width: 40%;
  /* border: 2px solid red; */
  /* font-weight: 600;
  margin-top: 30px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: rgb(51, 26, 0);
  color:#fddfbe;
  text-align: center; */

/* } */ 


/* .inner-box2{
  height:40px;
  width: 40%;
  /* border: 2px solid rgb(123, 255, 0); */
  /* margin-top: 30px;
  font-weight: 600;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
  text-align: center; */
  /* background-color: rgb(51, 26, 0); */
  /* color:#fddfbe; */ 
  /* background-color: #67595E; */
/* } */ 

.space{
  height: 50px;
  width: 100%;
  border: 3px solid rgb(73, 54, 40);
  position: absolute;
  background-color: #ffe6cc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 23px;
  color: rgb(30, 32, 30);
}

.hero-section2{
  height: 600px;
  width: 100%;
  border: 2px solid rgb(0, 0, 0);
  display: flex;
  margin-top: 50px;

}

.box201{
  height: 560px;
  width: 40%;
  /* border: 2px solid rgb(26, 215, 200); */
  background-color: #ffcc99;
  font-size: 50px;
  font-weight: 600;
  color: rgb(75, 53, 42);
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(images/pic.png);
  
}

.coffee-heaven{
  /* border: 2px solid greenyellow; */
  margin-bottom: 70%;
}

.box202{
  height: 560px;
  width: 60%;
  /* border: 2px solid rgb(215, 190, 26); */
  background-color: #1a0d00;
  /* background-image: url(images/photo.png); */
  color: #ffdab3;
  font-size: 40px;
  font-weight: 500;
  margin-left: ;

}

.choose{
  /* border: 2px solid green; */
  margin-left:20px ;
}

.text{
  font-size: 20px;
  margin-top: 50px;

}

.text-matter{
  /* border: 2px solid red; */
  height: 230px;
  width: 98%;
  margin-left: 20px;
}

.explore-more{
  border: 2px solid #1a0d00;
  width: 25%;
  height: 40px;
  font-size: 20px;
  margin-top: 60px;
  background-color: #ffd9b3;
  color: #1a0d00;
  font-weight: 400;
  margin-left: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.box203{
  height: 560px;
  width: 40%;
  /* border: 2px solid rgb(73, 26, 215); */
  background-color: #1a0d00;
  background-image: url(images/aesthetic.png);
  

}

.section3{
  height: 400px;
  width: 35%;
  border: 2px solid olivedrab;
  background-color: #fff2e6;
  background-image: url(images/hand.png);
  margin-left: 1000px;
}